doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title SNS tag generator
        link(rel="stylesheet", href="./css/common/reset.css")
        link(rel="stylesheet", href="./css/style.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(type="text/javascript" src="./js/main.min.js")
        script(type="text/javascript" src="./js/effects.min.js")

    body
        main
            .head-message
                p.head-message__text
            .header
                section.header__section
                    h1.header__h1 SNS tag generator
                    p.header__description 左アイコン先のフォームに各必要事項を入力するとタグが生成されます。
            .header__space
            p.header__tag-g-icon-wrap
                        i.fas.fa-tags
            .container
                .tags
                    section.tags__section
                        .tags__html-area
                            .tags__html-top-section
                                img.tags__html-logo(src="./images/html_logo.png")
                                h2.tags__html-title HTML
                            .tags__html-code-wrap
                                .tags__html-notice-area
                                    i.fas.fa-arrow-circle-right.tags__html-notice-url
                                    i.fas.fa-arrow-circle-right.tags__html-notice-title
                                    i.fas.fa-arrow-circle-right.tags__html-notice-type
                                    i.fas.fa-arrow-circle-right.tags__html-notice-description
                                    i.fas.fa-arrow-circle-right.tags__html-notice-image
                                    i.fas.fa-arrow-circle-right.tags__html-notice-site_name
                                    i.fas.fa-arrow-circle-right.tags__html-notice-local
                                    i.fas.fa-arrow-circle-right.tags__html-notice-app_id
                                    i.fas.fa-arrow-circle-right.tags__html-notice-card
                                    i.fas.fa-arrow-circle-right.tags__html-notice-site
                                .tags__html-code-area
                                    .tags__html-code-area-inner.copy-area
                                        p.tags__html-code-url
                                            | #{'<meta property="og:url" content="'}
                                            span.tags__include-url--js
                                            |#{'" />'}
                                        p.tags__html-code-title
                                            | #{'<meta property="og:title" content="ページのタイトル" />'}
                                        p.tags__html-code-type
                                            | #{'<meta property="og:type" content="website">'}
                                        p.tags__html-code-description
                                            | #{'<meta property="og:description" content="'}
                                            span.tags__include-description--js 
                                            |#{'" />'}
                                        p.tags__html-code-image
                                            | #{'<meta property="og:image" content="'}
                                            span.tags__include-url--js
                                            | #{'画像のパス" />'}
                                        p.tags__html-code-site_name
                                            | #{'<meta property="og:site_name" content="サイト名" />'}
                                        p.tags__html-code-local
                                            | #{'<meta property="og:locale" content="ja_JP" />'}
                                        p.tags__html-code-app_id
                                            | #{'<meta property="fb:app_id" content="appIDを入力" />'}
                                        p.tags__html-code-twitter-card
                                            | #{'<meta name="twitter:card" content="'}
                                            span.tags__html-code-twitter-card-val---js
                                            | #{'" />'}
                                        p.tags__html-code-twitter-site
                                            | #{'<meta name="twitter:site" content="@ユーザー名" />'}
                                p.tags__html-copy-icon.copy-btn(data-text="copy")
                                    i.far.fa-copy
                        .tags__pug-area
                            .tags__pug-top-section
                                img.tags__pug-logo(src="./images/pug_logo.png")
                                h2.tags__pug-title Pug
                            .tags__pug-code-wrap
                                .tags__pug-notice-area
                                    i.fas.fa-arrow-circle-right.tags__pug-notice-url
                                    i.fas.fa-arrow-circle-right.tags__pug-notice-title
                                    i.fas.fa-arrow-circle-right.tags__pug-notice-type
                                    i.fas.fa-arrow-circle-right.tags__pug-notice-description
                                    i.fas.fa-arrow-circle-right.tags__pug-notice-image
                                    i.fas.fa-arrow-circle-right.tags__pug-notice-site_name
                                    i.fas.fa-arrow-circle-right.tags__pug-notice-local
                                    i.fas.fa-arrow-circle-right.tags__pug-notice-app_id
                                    i.fas.fa-arrow-circle-right.tags__pug-notice-card
                                    i.fas.fa-arrow-circle-right.tags__pug-notice-site
                                .tags__pug-code-area
                                    .tags__pug-code-area-inner.copy-area
                                        p.tags__pug-code-url
                                            | #{'meta(property="og:url", content="'}
                                            span.tags__include-url--js
                                            | #{'")'}
                                        p.tags__pug-code-title
                                            | #{'meta(property="og:title", content="ページのタイトル")'}
                                        p.tags__pug-code-type
                                            | #{'meta(property="og:type", content="website")'}
                                        p.tags__pug-code-description
                                            | #{'meta(property="og:description", content="'}
                                            span.tags__include-description--js 
                                            | #{'")'}
                                        p.tags__pug-code-image
                                            | #{'meta(property="og:image", content="'}
                                            span.tags__include-url--js
                                            | #{'画像のパス")'}
                                        p.tags__pug-code-site_name
                                            | #{'meta(property="og:site_name", content="サイト名")'}
                                        p.tags__pug-code-local
                                            | #{'meta(property="og:locale", content="ja_JP")'}
                                        p.tags__pug-code-app_id
                                            | #{'meta(property="fb:app_id", content="appIDを入力")'}
                                        p.tags__pug-code-twitter-card
                                            | #{'meta(name="twitter:card", content="'}
                                            span.tags__html-code-twitter-card-val---js
                                            | #{'")'}
                                        p.tags__pug-code-twitter-site
                                            | #{'meta(name="twitter:site", content="@ユーザー名")'}
                                p.tags__pug-copy-icon.copy-btn(data-text="copy")
                                    i.far.fa-copy
                        .tags__url-area
                            h2.tags__sns-url-title SNS share URL
                            .tags__line
                                .tags__line-title-section
                                    img.tags__line-title-img(src="./images/line_logo.png")
                                    p.tags__line-notice-icon
                                        i.far.fa-flag
                                .tags__sns-code-wrap
                                    .tags__sns-notice-area
                                        i.fas.fa-arrow-circle-right.tags__sns-url-notice-icon
                                    .tags__line-code-area
                                        .tags__line-code-inner.copy-area
                                            p.tags__line-url-code #{'http://line.me/R/msg/text/?<ここにエンコードしたテキストとURL>'}
                                    p.tags__sns-url-copy-icon.copy-btn(data-text="copy")
                                        i.far.fa-copy
                            .tags__twitter
                                .tags__twitter-title-section
                                    img.tags__twitter-title-img(src="./images/twitter_logo.png")
                                    p.tags__twitter-notice-icon
                                        i.far.fa-flag
                                .tags__sns-code-wrap
                                    .tags__sns-notice-area
                                        i.fas.fa-arrow-circle-right.tags__sns-url-notice-icon
                                    .tags__twitter-code-area
                                        .tags__twitter-code-inner.copy-area
                                            p.tags__twitter-url-code #{'https://twitter.com/intent/tweet?url=<URL>&text=<テキスト>&via=<ユーザーID>&hashtags=<タグ名>&related=<フォローを促すユーザーID>'}
                                    p.tags__sns-url-copy-icon.copy-btn(data-text="copy")
                                        i.far.fa-copy
                            .tags__facebook
                                .tags__facebook-title-section
                                    img.tags__facebook-title-img(src="./images/f_logo.png")
                                    p.tags__facebook-notice-icon
                                        i.far.fa-flag
                                .tags__sns-code-wrap
                                    .tags__sns-notice-area
                                        i.fas.fa-arrow-circle-right.tags__sns-url-notice-icon
                                    .tags__facebook-code-area
                                        .tags__facebook-code-inner.copy-area
                                            p.tags__facebook-url-code #{'https://www.facebook.com/sharer/sharer.php?u=<URL>'}
                                    p.tags__sns-url-copy-icon.copy-btn(data-text="copy")
                                        i.far.fa-copy
                
            .modal__mask
            section#modal.modal__section
                .modal__inner
                    .modal__contents
                        img.modal1-close.modal__close.js-img-switch.js-fade-in(src="./images/img_modal-close-icon.png" alt="close")
                        .form
                            section.form__section
                                h2.form__title 入力フォーム
                                .form__main
                                    .form__form-wrap-1
                                        .form__main-label-box-1
                                            p.form__label-text-1 テキスト
                                        .form__main-input-box-1
                                            textarea(name="f-text" val="abc").form__main-input-1#f-text
                                    .form__form-wrap-2
                                        .form__main-label-box-2
                                            p.form__label-text-2 シェアするURL
                                        .form__main-input-box-2
                                            input(type="text" name="f-url").form__main-input-2#f-url
                                p.form__twitter-title Twitter用オプション
                                .form__twitter
                                    .form__form-wrap-3
                                        .form__main-label-box-3
                                            p.form__label-text-3 Twitter Cardの種類
                                        .form__main-select-box-3
                                            select(name="card")
                                                option(value="summary") summary
                                                option(value="summary_large_image") aummary_large_image
                                                option(value="photo") photo
                                                option(value="app") app
                                    .form__form-wrap-3
                                        .form__main-label-box-3
                                            p.form__label-text-3 付与するアカウント
                                        .form__main-input-box-3
                                            input(type="text" name="").form__main-input-3#t-account1
                                    .form__form-wrap-4
                                        .form__main-label-box-4
                                            p.form__label-text-4 ツイート後にフォローを促すアカウント
                                                //- |(ツイート後に特定のアカウントをフォローするように促すページを表示します)
                                        .form__main-input-box-4
                                            input(type="text" name="").form__main-input-4#t-account2
                                    .form__form-wrap-5
                                        .form__main-label-box-5
                                            p.form__label-text-5 ハッシュタグ(「#」を含めず複数の場合は「,」で区切る)
                                        .form__main-input-box-5
                                            input(type="text" name="").form__main-input-5#t-hashtag
                                .form__button-wrap
                                    p.form__submit-button#submit-btn 作成

                    